 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     font-family: Nunito, sans-serif;
     background-color: darkslateblue;
     background-image: url(https://images.unsplash.com/photo-1488590528505-98d2b5aba04b);
     background-position: center;
     background-size: cover;
     background-blend-mode: color-dodge;
 }

 nav {
     background-color: rgba(48, 41, 96, 0.77);
     width: 100%;
     position: fixed;
     top: 0;
     z-index: 10;
     border-bottom: 1px solid rgb(103, 152, 29);

 }

 nav li {
     list-style: none;
     display: inline-block;
     margin: 0 15px;
 }

 nav li a {
     color: aliceblue;
     text-decoration: none;
     font-weight: 700;
 }

 main {
     padding: 50px;
     backdrop-filter: blur(10px);
 }

 p {
     background-color: rgba(127, 255, 212, 0.197);
     border-radius: 15px;
     padding: 15px 25px;
     max-width: 800px;
     font-size: larger;
     line-height: 1.5em;
 }

 aside {
     position: fixed;
     top: 250px;
     right: 250px;
     font-size: xx-large;
     color: deeppink;
 }