#intro img {
    height: 350px;
}

.station-list {
    margin-left: -85px;
    margin-bottom: 50px;
    padding: 35px 0px 0px 0px;
    max-width: 1280px;
}

.station-list li {
    margin: 35px 0px;
    display: flex;
}

.station-list .icon {
    align-self: center;
}

.station-list .fa-solid {
    color: var(--dark-purple);
    font-size: 2.5rem;
    width: 85px;
}

.station h3 {
    line-height: 1.5;
}

.station h3,
.station p {
    position: inherit;
}

.station p {
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width:768px) and (max-width:1023px) {

    #intro img {
        height: 250px;
    }

    .station-list li {
        margin: 25px 0px;
        display: flex;
    }

    .station-list .fa-solid {
        font-size: 2.25rem;
    }

}
