body {
    background-image: none;
}

#splash {
    margin: -42px -160px 0px -160px;
    background-image: url('https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e');
    background-color: var(--main-bg-color);
    background-blend-mode: luminosity;
    background-size: cover;
    height: 85%;
}

#splash h1 {
    position: absolute;
    top: 35%;
    right: 0;
    color: var(--dark-purple);
    background-color: rgba(226, 224, 241, 0.823);
    font-family: 'Indie Flower';
    font-style: italic;
    text-transform: none;
    padding: 25px 15px 15px 25px;
    font-size: 7.5rem;
    font-weight: 600;
}

#splash h2 {
    position: relative;
    top: 75%;
    background-color: var(--light-cyan);
    font-family: 'Fira Code';
    padding: 25px;
    text-align: center;
    text-transform: none;
    letter-spacing: .5em;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media screen and (min-width:768px) and (max-width:1023px) {

    #splash {
        margin-right: -50px;
    }

    #splash h1 {
        font-size: 6rem;
    }

    #splash h2 {
        font-size: 1.25rem;
    }

}

@media screen and (max-width:767px) {

    #splash {
        margin: -48px -25px -50px -160px;
    }

    #splash h1 {
        font-size: 25vw;
        font-weight: 500;
    }

    #splash h2 {
        display: none;
    }

}