body {
    background-image: none;
}

#splash {
    margin: -95px -160px 25px -160px;
    background-image: url('https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e');
    background-color: var(--main-bg-color);
    background-blend-mode: luminosity;
    background-size: cover;
    height: 75%;
}

#splash h1 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
    font-family: 'Indie Flower';
    padding: 1% 10%;
    border: var(--light-purple) solid 1px;
    font-size: 7rem;
    background-color: var(--pale-purple);
    color: var(--deep-purple);
    text-shadow: 0px -2px 9px var(--light-purple);
}

/* strong {
    color: var(--accent-cyan);
} */

#splash h2 {
    background-color: var(--light-cyan);
    color: var(--dark-purple);
    font-family: 'Comfortaa';
    padding: 25px;
    text-align: center;
    font-size: 1.75rem;
    text-transform: none;
    letter-spacing: .5em;
    position: relative;
    top: 100%;
}