/* color-variables */
:root {
    --main-bg-color: #d1d2eb;
    --main-fg-color: #120f24;

    --light-purple: #b6b2f4;
    --medium-purple: #483d8b;
    --dark-purple: #2E2759;

    --pale-purple: #61589a;
    --accent-purple: #7a44f1;
    --transp-purple: #babcffae;

    --light-cyan: #9adfd5;
    --dark-cyan: #45706a;
    --accent-cyan: #74ead6;
}

/* fonts */
@font-face {
    font-family: Quicksand;
    src: url('../font/Quicksand-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Indie Flower';
    src: url('../font/IndieFlower-Regular.ttf')
}

@font-face {
    font-family: 'Fira Code';
    src: url('../font/FiraCode-VariableFont_wght.ttf');
}


/* general-selectors */
* {
    box-sizing: border-box;
    color: var(--main-fg-color);
}

body {
    font-size: 1.15rem;
    font-weight: 500;
    font-family: Quicksand, sans-serif;
    background-color: var(--main-bg-color);
    background-image: url(https://images.unsplash.com/photo-1488590528505-98d2b5aba04b);
    background-position: top;
    background-size: cover;
    background-blend-mode: color-dodge;
}

main {
    margin: 95px 160px 50px 160px;
}

section {
    margin-top: -95px;
    padding-top: 95px;
    margin-bottom: 250px
}

a,
strong {
    color: var(--accent-purple);
    font-weight: bolder;
}

p a:hover {
    color: var(--accent-cyan);
}

h1 {
    font-family: Quicksand, sans-serif;
    text-transform: lowercase;
    font-size: 1.75em;
    font-weight: 700;
    margin: 15px 0px 25px;
}

h2 {
    font-family: Quicksand, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: var(--light-cyan);
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 5px 0px 5px 160px;
}

h3 {
    font-family: Quicksand, sans-serif;
    color: var(--dark-purple);
    font-size: 1.25rem;
    font-weight: 600;
}

.intro {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.intro p {
    line-height: 1.75em;
    margin-bottom: 75px;
    max-width: 750px;
}

.intro img {
    box-shadow: 15px 15px 0px 5px var(--pale-purple);
    margin: 15px 50px 50px 50px;
}

.content p {
    position: relative;
    top: 50px;
    padding-bottom: 50px;
    margin-bottom: 25px;
    line-height: 1.5;
    max-width: 1000px;
}

.fa-brands,
.fa-solid {
    color: var(--dark-purple);
}

/* navigation-elements */
#logo {
    background-color: var(--medium-purple);
    position: fixed;
    top: 15px;
    height: 100px;
    width: 100px;
    border: solid transparent 2px;
    border-radius: 5px;
    rotate: 45deg;
    z-index: 5;
    overflow: hidden;
}

#logo:hover {
    border: solid var(--accent-cyan) 2px;
}

#logo img {
    height: 115%;
    width: auto;
    rotate: -45deg;
    position: absolute;
    top: -10px;
    left: -10px;
}

nav {
    position: fixed;
    padding-left: 110px;
    top: 0px;
    width: 100%;
    z-index: 3;
    background: var(--pale-purple);
    opacity: .97;
    border-bottom: 1px solid var(--medium-purple);
}

nav ul {
    padding-inline-start: 25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

nav li {
    font-family: 'Fira Code';
    font-weight: lighter;
    display: inline-block;
    margin: 3.5px 25px;
}

nav li a {
    color: #F1F0F8;
    letter-spacing: 0.125rem;
    line-height: 1.5;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: solid underline var(--accent-cyan) 2px;
}

#mobile {
    display: none;
}

#mobile .fa-solid {
    color: var(--light-purple);
    font-size: 1.5em;
}

/* start-part */
#start {
    margin: -42px -160px 150px -160px;
    background-image: url('https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e');
    background-color: var(--main-bg-color);
    background-blend-mode: luminosity;
    background-size: cover;
    height: 95%;
}

#start h1 {
    position: absolute;
    top: 35%;
    right: 0;
    color: var(--dark-purple);
    background-color: rgba(226, 224, 241, 0.823);
    font-family: 'Indie Flower';
    font-style: italic;
    text-transform: none;
    padding: 25px 15px 15px 25px;
    font-size: 7.5rem;
    font-weight: 600;
}

#start h2 {
    position: relative;
    top: 75%;
    background-color: var(--light-cyan);
    font-family: 'Fira Code';
    padding: 25px;
    text-align: center;
    text-transform: none;
    letter-spacing: .5em;
}

/* start-media-quieries */
@media screen and (min-width:768px) and (max-width:1023px) {

    #start {
        margin-right: -50px;
    }

    #start h1 {
        font-size: 6rem;
    }

    #start h2 {
        font-size: 1.25rem;
    }

}

@media screen and (max-width:767px) {

    #start {
        margin: -48px -25px 50px -160px;
    }

    #start h1 {
        font-size: 25vw;
        font-weight: 500;
    }

    #start h2 {
        display: none;
    }

}

/* about-part */
#about .intro img {
    height: 350px;
}

.station-list {
    margin-left: -85px;
    margin-bottom: 50px;
    padding: 35px 0px 0px 0px;
    max-width: 1280px;
}

.station-list li {
    margin: 35px 0px;
    display: flex;
}

.station-list .icon {
    align-self: center;
}

.station-list .fa-solid {
    font-size: 2.5rem;
    width: 85px;
}

.station h3 {
    line-height: 1.5;
}

.station h3,
.station p {
    position: inherit;
}

.station p {
    padding: 0px;
    margin: 0px;
}

/* about-media-quieres */
@media screen and (min-width:768px) and (max-width:1023px) {

    #about .intro img {
        height: 250px;
    }

    .station-list li {
        margin: 25px 0px;
        display: flex;
    }

    .station-list .fa-solid {
        font-size: 2.25rem;
    }

}

@media screen and (max-width:767px) {

    #about .intro img {
        margin-left: 25px;
        margin-right: 25px;
    }

}

/* project-part */
#projects .intro img {
    height: 200px;
}

.content .container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.content img {
    height: 200px;
    width: auto;
    margin: 5px;
}

/* project-media-quieries */
@media screen and (min-width:768px) and (max-width:1024px) {

    #projects .intro img {
        height: 150px;
    }

}

@media screen and (max-width:767px) {

    .content .container {
        justify-content: center;
    }

    .content img {
        width: 85%;
        height: auto;
    }

}

/* skills-part */
#skills .intro img {
    height: 200px;
}

.content .container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#skills .fa-brands {
    font-size: 2.5em;
    width: 75px;
}

/* skills-media-quieres */
@media screen and (min-width:768px) and (max-width:1023px) {

    #skills .intro img {
        height: 150px;
    }

}

@media screen and (max-width:767px) {

    .content .container {
        justify-content: flex-start;
    }

}

/* contact-part */
#contact .intro img {
    height: 300px;
}

#contact-icons {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}

.fa-brands,
.fa-solid {
    font-size: 3em;
}

#contact {
    margin-bottom: 185px
}

/* contact-media-quieres */
@media screen and (min-width:768px) and (max-width:1023px) {

    #contact {
        margin-bottom: 100px;
    }

    #contact .intro img {
        height: 250px;
    }

    .fa-brands,
    .fa-solid {
        font-size: 2.5em;
    }

}

@media screen and (max-width:767px) {

    #contact {
        margin-bottom: -50px;
    }

    #contact .intro img {
        height: 35vw;
    }

    #contact-icons {
        margin-top: 25px;
        max-width: none;
    }

    .fa-brands,
    .fa-solid {
        font-size: 2.5em;
    }


}

/* footer-elements */
footer ul {
    display: flex;
    background-color: var(--dark-purple);
    border-top: solid var(--light-purple) 1px;
    height: 75px;
    justify-content: center;
    align-items: center;
}

footer li {
    font-family: 'Fira Code';
    font-weight: lighter;
    font-size: 1rem;
    color: var(--main-bg-color);
    display: inline-block;
    margin: 3.5px 25px;
}

/* experimental 
 .intro {
    background-color:var(--light-cyan);
    opacity: .95;
    border-radius: 15px;
    padding: 15px 25px;
    max-width: 800px;
 }

 background: linear-gradient(90deg, 
    var(--transp-purple) 0%, 
    var(--transp-cyan) 25%,
    var(--transp-cyan, 0.5) 100%);
 */

/*  media-quieries */
@media screen and (min-width:768px) and (max-width:1023px) {

    main {
        margin-right: 50px;
    }

    footer li {
        font-size: .9rem;
    }

    .intro img {
        box-shadow: 10px 10px 0px 2px var(--pale-purple);
        margin: 15px 25px;
    }

    h1 {
        font-size: 1.25em;
    }

    h2,
    h3 {
        font-size: 1.15rem;
    }

    p {
        font-size: 1.05rem;
    }

}

@media screen and (max-width:767px) {

    main {
        margin-left: 25px;
        margin-right: 25px;
    }

    section {
        margin-bottom: 125px;
    }

    #logo {
        rotate: 0deg;
        top: 0px;
        height: 64.4px;
        width: 64.4px;
        border-radius: 0;
    }

    #logo img {
        top: -5px;
        left: -5px;
        rotate: 0deg;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav {
        background: var(--medium-purple);
        opacity: 1;
        padding-left: 50px;
    }

    nav li {
        margin: 0px 10px;
    }

    .intro {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 25px;
    }

    .intro p {
        margin-bottom: 0px;
    }

    .intro img {
        height: 50vw;
        box-shadow: none;
    }

    h2 {
        padding-left: 25px;
    }

    footer ul {
        height: 50px;
    }
}